header#display{
  background: var(--dg-color) url("assets/img/banners_samples/banner_about.png") no-repeat top center
}
#subnavbar{
  z-index:11;
  background-color: var(--dg-color);
}
#subnavbar.affix{
-webkit-box-shadow: 0 0 7px #555;
-moz-box-shadow: 0 0 7px #555;
box-shadow: 0 0 7px #555
}
#subnavbar.affix-top{
  margin-top: -40px
}
#subnavbar li:not(:first-child){
  border-left: 1px solid var(--lgh-color)
}
#subnavbar li a{
  color: #FFF;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: 26px;
  line-height: 24px;
  background-color: var(--dg-color);
  padding: 15px 15px 10px
}
#subnavbar li.active a{
  background-color: var(--main-color)
}
.person{
  margin-bottom: 30px
}
.person span.persona_photo{
  width: 120px;
  height: 120px;
  display:block;
  margin: 40px auto 20px;
  overflow: hidden;
  border: 1px solid var(--main-color)
}
.person span.persona_photo.pull-left{
  margin: 0 20px 0 0
}
.person h3{
  font-size: 22px;
  margin-top: 0
}
.person p{
  font-size: 15px;
  line-height: 18px
}
.person p em{
  font-weight: 100;
  display:block
}
.person p span.side-info{
  display:block
}
.person p a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 15px;
}
.person p a img{
  width: 100%
}
#history, #resources{
  margin-bottom: 50px
}
.timeline_breakpoint h3{
  color: var(--main-color);
  font-weight: 400;
  margin: 15px 0 30px
}
.timeline_breakpoint h4{
  color: var(--lgh-color);
  font-family: var(--title-font);
  margin:0
}
.timeline_breakpoint p{
  color: var(--lgh-color);
  padding-bottom: 15px
}
.timeline_breakpoint .timeline{
  width:2px;
  margin: 0 auto;
  height: 1px;
  position: relative;
  background-color: var(--main-color);
  -webkit-transition: height 1.5s .4s ease-out;
  -moz-transition: height 1.5s .4s ease-out;
  -o-transition: height 1.5s .4s ease-out;
  transition: height 1.5s .4s ease-out
}
.timeline_breakpoint .timeline::before,
.timeline_breakpoint .timeline::after{
  content: " ";
  background-color: var(--main-color);
  position: absolute;
  left:50%;
  width: 12px;
  height:12px;
  margin-left: -6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%
}
.timeline_breakpoint .timeline::before{
  top:-2px
}
.timeline_breakpoint .timeline::after{
  bottom:-2px
}
@media all and (min-width: 768px){
  .timeline_breakpoint h4{
    font-size: 120px
  }
}
@media all and (max-width: 768px){
  .timeline_breakpoint h4{
    font-size: 80px
  }
}
