html, body {
  font-size: 16px;
  font-family: var(--text-font)
}
html, body, #wrapper{
  min-height: 100%
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.zero_margin{
  margin:0!important
}
.spc_top_1{
  margin-top:15px
}
.spc_top_2{
  margin-top:30px
}
#wrapper{
  overflow: hidden;
  padding-bottom: 50px
}
h1.dh1{
  font-size: 84px;
  font-family: var(--title-font);
  color:#FFF;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-top: 40px;
  position:relative
}
h1.dh1::after{
  content: attr(data-shadow);
  position: absolute;
  bottom:0;
  left:0;
  font-size: 56px;
  line-height: 74px;
  color:var(--main-color)
}
header#display h1.dh1{
  color: rgba(var(--lgh-rgb-color), .2)
}
header#display h1.dh1::after{
  color:#FFF
}
h1.dh1.aos-animate{
  -webkit-animation: var(--animate-title);
  -moz-animation: var(--animate-title);
  animation: var(--animate-title);
}
h2.dh2{
  font-size: 26px;
  font-family: var(--title-font);
  text-transform: uppercase;
  text-align: center
}
section h2 {
  font-size:22px;
  font-family: var(--subtitle-font);
  font-weight: normal
}
.taan nav.navbar li a, header#display h2{
  font-family: var(--title-font)
}
p {
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 22px
}
a, p > a{
  color: var(--main-color);
  text-decoration: none
}
a:hover, p > a:hover,a:focus, p > a:focus{
  color: var(--main-color);
  text-decoration: underline
}
.taan-btn{
  display: inline-block;
  font-family: var(--title-font);
  line-height: 24px;
  padding: 0 15px;
  border: 2px solid;
  text-transform: uppercase;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}
.taan-btn:hover,.taan-btn:focus{
  text-decoration: none
}
.taan-btn.taan-btn-default,.taan-btn.taan-btn-reverse:hover,.taan-btn.taan-btn-reverse:focus{
  color: var(--lg-color);
  background-color: var(--main-color);
  border-color: var(--main-color)
}
.taan-btn.taan-btn-reverse,.taan-btn.taan-btn-default:hover,.taan-btn.taan-btn-default:focus{
  color: var(--main-color);
  background-color: var(--lg-color);
  border-color: var(--main-color)
}
nav.navbar {
  margin: 0;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}
.taan-tabs{
  margin: 40px 0
}
.taan-tabs ul.nav.nav-justified li.active{}
.taan-tabs ul.nav.nav-justified li a{
  border-bottom-color: var(--dg-color);
  background-color: var(--dg-color);
  color:#FFFFFF;
  font-family: var(--title-font);
  font-size:24px;
  padding: 20px 15px 15px;
  white-space: nowrap;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out
}
.taan-tabs ul.nav.nav-justified li:hover a,
.taan-tabs ul.nav.nav-justified li:focus a{
  border-color: var(--main-color);
  background-color: var(--main-color)
}
.taan-tabs ul.nav.nav-justified li.active a,
.taan-tabs ul.nav.nav-justified li.active:hover a,
.taan-tabs ul.nav.nav-justified li.active:focus a{
  border-color: var(--main-color);
  background-color: var(--main-color);
  cursor: default
}
.taan-tabs .tab-content .tab-pane{
  padding: 30px;
  background-color: var(--main-color)
}
.taan-tabs .tab-content .tab-pane h3{
  margin-top:0
}
.taan-tabs .tab-content .tab-pane h3,
.taan-tabs .tab-content .tab-pane h4,
.taan-tabs .tab-content .tab-pane p,
.taan-tabs .tab-content .tab-pane .pull-right img + em,
.taan-tabs .tab-content .tab-pane ul{
  color:#FFF;
  padding-bottom:20px
}
.taan-tabs .tab-content .tab-pane h4{
  font-size: 16px;
  font-weight: bold
}
.taan-tabs .tab-content .tab-pane .pull-right img{
  width: 100%
}
.taan-tabs .tab-content .tab-pane .pull-right img + em{
  font-size: 14px;
  display: block;
  margin: 15px 0;
  font-style: normal
}
header#display,
header#agency_display{
  position: relative;
  max-height: 455px;
  margin-bottom:40px;
  z-index: 10;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}
header#agency_display{
  max-height: 299px
}
header#display .display_title,
header#agency_display .display_title{
  margin:0;
  background-color: rgba(var(--main-rgb-color), .8);
  max-height:245px;
  color: #FFFFFF;
  text-transform: uppercase
}
header#display .display_title h2{
  font-size: 35px
}
header#display .display_title p{
  font-size: 20px
}
.taan > footer{
  padding: 30px 0 15px;
  text-align: center;
  margin: 0;
  background-color: #FFF;
  font-size: 14px;position: relative
}
h2.dh2::after,
.taan > footer::before{
  content: " ";
  position: absolute;
  left:50%;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  -webkit-transition: all 1.5s .4s ease-out;
  -moz-transition: all 1.5s .4s ease-out;
  -o-transition: all 1.5s .4s ease-out;
  transition: all 1.5s .4s ease-out
}
h2.dh2::after{
  bottom:0
}
.taan > footer::before{
  top:0
}
h2.dh2.aos-animate::after,
.taan > footer.aos-animate::before{
  left:0;
  width: 100%;
}
.taan > footer p.copy{
  font-size: 14px;
  color: #333
}
.taan > footer > p > a{
  display: inline-block;
  width:35px;
  height: 35px;
  margin: 0 15px
}
.taan > footer > p > a > img{
  width: 100%
}
.taan form .form-group {
  margin-bottom: 11px
}
.taan form input,
.taan select,
.taan form textarea,
.taan form button,
.taan-btn {
  font-size: 22px;
  text-transform: uppercase;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0
}
.taan form input,
.taan select,
.taan form button{
  height: 26px
}
.taan form input,
.taan select,
.taan form textarea{
  border:2px solid var(--main-color);
  color: var(--main-color);
  font-family: var(--title-font);
  text-transform: uppercase;
  padding: 0 5px
}
.taan .select-wrapper{
	position:relative;
  margin-bottom: 1px
}
.taan .select-wrapper::before{
	border-color:var(--dg-color);
	background-color:var(--main-color);
	content:"\f078";
	font-family:"FontAwesome";
	color:#FFFFFF;
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
  bottom:0;
	pointer-events:none;
	width:40px;
	text-align:center;
	line-height:26px;
}
.taan .select-wrapper > select{
  padding-right:40px;
  width: 100%;
  border: 2px solid var(--main-color);
  color: var(--dg-color)
}
.taan .mobile_tabs .select-wrapper::before{
  line-height: 45px
}
.taan .mobile_tabs .select-wrapper > select{
  font-size: 38px;
  height: 45px
}

.taan form input:focus{ border-color: var(--dg-color) }
.taan form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: var(--dg-color); }
.taan form ::-moz-placeholder { /* Firefox 19+ */ color: var(--dg-color); }
.taan form :-ms-input-placeholder { /* IE 10+ */ color: var(--dg-color); }
.taan form :-moz-placeholder { /* Firefox 18- */ color: var(--dg-color); }
.taan .pagination li.disabled{ opacity: .4 }
.taan .pagination li.active a,
.taan .pagination li a:hover,
.taan .pagination li a[aria-label=Previous],
.taan .pagination li a[aria-label=Next]{
  font-weight: bold;
  background-color: #FFF;
  color: var(--main-color)
}
.taan .pagination li a,
.taan .pagination li span{
  font-family: var(--subtitle-font);
  font-size: 15px;
  color: var(--main-color);
  border: 0 none
}
.taan .pagination li span:hover{
  background-color: #FFF;
}
#subnavbar{
  z-index:11;
  background-color: var(--dg-color);
  margin-top: -40px
}
#subnavbar.affix{
  margin-top: 0
}
#subnavbar li:not(:first-child){
  border-left: 1px solid var(--lgh-color)
}
#subnavbar li a{
  color: #FFF;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: 29px;
  line-height: 24px;
  background-color: var(--dg-color);
  padding: 15px 15px 10px
}
#subnavbar li.active a,
#subnavbar li a:hover{
  background-color: var(--main-color)
}
.box_item{
  border: 1px solid transparent;
  overflow: hidden;
  padding: 20px 50px 20px 20px;
  -webkit-transition: border .4s linear;
  -moz-transition: border .4s linear;
  -o-transition: border .4s linear;
  transition: border .4s linear;
}
.box_item.hover.box_red{
  border-color: var(--main-color)
}
.box_item h2,
.box_item h2 > a,
.box_item h2 > a span.resume,
.box_item h2 > .info,
.box_item h2 > .info span.resume{
  color: var(--dg-color)
}
.box_item h2 > a span.heading,
.box_item h2 > .info span.heading{
  margin:25px 0;
  font-size: 22px;
  line-height: 24px;
  white-space: nowrap
}
.box_item h2 > a:hover,
.box_item h2 > a:focus{ text-decoration: none}
.box_item h2 > a span,
.box_item h2 > .info span{
  display:block
}
.box_item h2 > a span.cover_img,
.box_item h2 > .info span.cover_img{
  border: 1px solid transparent;
  -webkit-transition: border .4s linear;
  -moz-transition: border .4s linear;
  -o-transition: border .4s linear;
  transition: border .4s linear
}
.box_item h2 > a span.cover_img img,
.box_item h2 > .info span.cover_img img{
  width: 100%
}
.box_item.hover.box_red h2 > a span.cover_img,
.box_item h2 > a:hover span.cover_img{
  border-color: var(--main-color)
}
.box_item h2 > a span.resume,
.box_item h2 > .info span.resume{
  font-size: 15px;
  line-height: 18px;
}
.box_item ul{
  margin: 30px 0;
  list-style: none;
  padding: 0
}
.box_item ul li{
  padding: 0 15px 0 0;
  margin:0;
  list-style: none;
  margin-bottom: 25px;
  position: relative
}
.box_item ul li .etc{
  background-color: #FFFFFF;
  color: var(--main-color);
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  font-weight: bolder;
  line-height: 35px;
}
.box_item ul li a,
.box_item ul li a:visited{
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  line-height: 18px;
  color: var(--dg-color);
  padding: 7px 15px 7px 50px
}
.box_item ul li a:hover,
.box_item ul li a:focus{
  text-decoration: none
}
.box_item ul li a::before,
.box_item ul li a::after{
  content: " ";
  position:absolute
}
.box_item ul li a::before{
  width:31px;
  height:31px;
  left:0;
  top:50%;
  margin-top:-15px;
  background-repeat: no-repeat;
  background-size: 31px 31px
}
.box_item ul li a.icon_web::before{
  background-image: url("../img/url_ico.svg")
}
.box_item ul li a.icon_mail::before{
  background-image: url("../img/mail_ico.svg")
}
.box_item ul li a.icon_fb::before{
  background-image: url("../img/face_ico.svg")
}
.box_item ul li a.icon_in::before{
  background-image: url("../img/in_ico.svg")
}
.box_item ul li a.icon_tw::before{
  background-image: url("../img/twitter_ico.svg")
}
.box_item ul li a::after{
  position: absolute;
  left:0;
  bottom:0;
  width: 0;
  height:1px;
  border-bottom:1px solid var(--main-color);
  -webkit-transition: width .8s ease-out;
  -moz-transition: width .8s ease-out;
  -o-transition: width .8s ease-out;
  transition: width .8s ease-out;
}
.box_item ul li a:hover::after{
  width: 100%
}


/*** Tablets and Desktops ***/
@media screen and (min-width: 768px) {
  .taan nav.navbar {
    position: fixed;
    background-color: #FFF!important;
    top:0;
    left:0;
    margin:0;
    padding:0;
    width: 100%;
    max-height: 108px;
    background: transparent;
    z-index: 12;
    -webkit-box-shadow: 0 0 7px #555;
    -moz-box-shadow: 0 0 7px #555;
    box-shadow: 0 0 7px #555
  }
  .taan nav.navbar .navbar-header{
    padding-left: 25px
  }
  .taan #navbar {
    padding-right: 25px
  }
  .taan nav.navbar a.navbar-brand {
    width: 95px;/* por 79px*/
    padding: 0;
    margin: 10px 0;
  }
  .taan nav.navbar li:hover a, .taan nav.navbar li:focus a, .taan nav.navbar li.active a{
    background-color: transparent!important;
    color:var(--dg-color)!important
  }
  .taan nav.navbar li.active a, .taan nav.navbar li.active:hover a, .taan nav.navbar li.active:focus a{
    cursor: default;
  }
  .taan nav.navbar li a{
    font-size: 24px;
    text-transform: uppercase;
    color:var(--dg-color);
    background-color: transparent;
    overflow: hidden;
    display:inline-block;
    position: relative;
    padding: 0;
    margin: 40px 20px;
    line-height: 30px
  }
  .taan nav.navbar li a::before{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    max-height: 0;
    color: var(--main-color);
    content: attr(data-hover);
    -webkit-transition: max-height .3s;
    -moz-transition: max-height .3s;
    transition: max-height .3s
  }
  .taan nav.navbar li a:hover::before, .taan nav.navbar li a:focus::before, .taan nav.navbar li.active a::before {
    max-height: 100%
  }
  header#display{
    height: 455px;
    padding: 105px 0
  }
  header#display .display_title{
    padding: 40px 10%
  }
  header#display .display_title h2{
    font-size: 56px;
    line-height: 48px
  }
  header#agency_display{
    height: 299px;
    padding: 65px 0
  }
  header#agency_display .display_title h3{
    margin-bottom:0
  }
  header#agency_display .display_title p{
    margin-top:0
  }
  #wrapper > section > .container {
    padding: 0 60px
  }
  .taan form.form-inline .form-group{
    margin-right:50px
  }
}
/*** Smartphones ***/
@media screen and (max-width: 767px){
  .taan .navbar-default .navbar-brand{
    width: 110px;
    padding: 0;
    height: 95px;
    margin: 20px
  }
  .taan .navbar-default .navbar-toggle{
    padding: 10px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 0;
    border: 0 none;
    position: relative;
    width: 90px;
    height: 71px
  }
  .taan .navbar-default .navbar-toggle.collapsed,
  .taan .navbar-default .navbar-toggle:hover,
  .taan .navbar-default .navbar-toggle:focus{
    background-color: transparent;
    border: 0 none
  }
  .taan .navbar-default .navbar-toggle .icon-bar{
    background-color: var(--main-color);
    width: 75px;
    height: 7px;
    border-radius: 0;
    position:absolute;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
  }
  .taan .navbar-toggle .icon-bar+.icon-bar{
    margin-top: 10px
  }
  #nav-icon4 span:nth-child(2) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #nav-icon4 span:nth-child(3) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #nav-icon4 span:nth-child(4) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #nav-icon4.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }
  #nav-icon4.open span:nth-child(3) {
    width: 0%;
    opacity: 0;
  }
  #nav-icon4.open span:nth-child(4) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }
  .taan nav.navbar li a{
    color: var(--dg-color);
    background-color: #FFF;
    font-size: 30px;
    line-height: 32px
  }
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover{
    color: var(--lg-color);
    background-color: var(--main-color)
  }
  header#display .display_title, header#agency_display .display_title{
    padding: 5px 15px
  }
  .taan form.form-inline .form-group{
    margin-right:20px
  }
}
